

@media screen and (max-width: 375px) {
    * {
        box-sizing: border-box;
    }


    /* body {
        background-color: red;
    } */

    .popular_tour_container {
        flex-direction: column;
        gap: 30px;
        margin: 0;
        height: auto;
    }

    .popular_tour_content {
        padding: 0 20px;
    }

    .popular_tour_content>h2 {
        margin-bottom: 20px;
    }
    .popular_tour_img>img {
        width: 100%;
        height: auto;
        padding: 20px;
    }





    .grid_photo {
        background-size: cover;
        object-fit: cover;
        height: 300px;
    }


    .choose_destination_photo_gallery {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        transition: 0.9s;
        gap: 30px;
    }

    #grid_photo_1 {
        grid-column: 1 / span 12;
        grid-row: 1 / -1;
    }
    #grid_photo_2 {
        grid-column: 1 / span 12;
        grid-row: 2 / -2;
    }
    #grid_photo_3 {
        grid-column: 1 / span 12;
       
        
    }
    #grid_photo_4 {
        grid-column: 1 / span 12;
        
    }
    
    #grid_photo_5 {
        grid-column: 1 / span 12;
        
    }
    
    #grid_photo_6 {
        grid-column: 1 / span 12;
        
    }
    
    #grid_photo_7 {
        grid-column: 1 / span 12;
        
    }
    


    /* Newsletter section code  */

.newsletter_section {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 0;
    display: block;
}




}